.player {
    display: flex;
    align-items: center;
    width: 300px;
    gap: 10px;
    background-color: whitesmoke;
    border-radius: 50px 0px 0px 50px;
    transition: box-shadow 0.2s ease, background-color 0.2s ease;

    &.player-active {
        box-shadow: 0 0 15px #ffcc00;
        background-color: #ffcc00;
    }

    .player-image {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        background-image: url('/assets/Profil.jpg');
        background-size: 300%;
        background-repeat: no-repeat;
        border: 3px solid white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    span {
        color: black;
        font-weight: normal;
        font-size: 2rem;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
        text-align: center;
    }
}