<app-player></app-player>
<div class="game-container">
    <div class="card-stack">
        <img *ngFor="let card of [1,2,3,4,5,6]; let i = index;" 
            [ngStyle]="{'right.px': i * 5, 'bottom.px': i * 2}"  
            src="assets/svg-cards/cover1.jpg" 
            alt="card-back" 
        />
        <img (click)="takeCard()" 
            [ngStyle]="{'right.px': 35, 'bottom.px': 14}"  
            src="assets/svg-cards/cover1.jpg" 
            alt="card-back" 
        />
        <img *ngFor="let playedCard of game.playedCards; let i = index;" 
            class="played-card"
            src="assets/svg-cards/{{playedCard}}.svg" alt="aufgedeckte Karte"/>
        <img *ngIf="pickCardAnimation" 
            class="pick-card" 
            [ngStyle]="{'right.px': 35, 'bottom.px': 14}"  
            src="assets/svg-cards/{{currentCard}}.svg" 
            alt="aufgedeckte Karte"
        /> 
    </div>
</div>