<div class="player-container">
    <app-player *ngFor="let player of game.players; let i = index;"
        class="player-position" 
        [playerActiv]="i == game.currentPlayerIndex"
        [name]="player.name"
        [avatar]="player.avatar">
    </app-player>
    
    <button mat-fab extended (click)="openDialog()" class="add-player-btn">
        <mat-icon>add</mat-icon>
        Spieler hinzufügen
    </button>
</div>

<div class="game-container">
    <div class="card-stack">
        <img *ngFor="let card of getVisibleStackCards(); let i = index;" 
            [ngStyle]="{'right.px': i * 5, 'bottom.px': i * 2}"  
            src="assets/svg-cards/cover1.jpg" 
            alt="card-back" 
        />
        <img (click)="takeCard()" 
            [ngStyle]="{'right.px': getVisibleStackCards().length * 5, 'bottom.px': getVisibleStackCards().length * 2}"  
            src="assets/svg-cards/cover1.jpg" 
            alt="card-back" 
        />
        <img *ngFor="let playedCard of game.playedCards; let i = index;" 
            class="played-card"
            src="assets/svg-cards/{{playedCard}}.svg" alt="aufgedeckte Karte"/>
        
        <div *ngIf="pickCardAnimation" 
            class="pick-card-flip-container"
            [ngStyle]="{'right.px': getVisibleStackCards().length * 5, 'bottom.px': getVisibleStackCards().length * 2}">
            <div class="pick-card-flip-inner">
                <img class="pick-card-back" 
                    src="assets/svg-cards/cover1.jpg" 
                    alt="card-back"
                />
                <img class="pick-card-front" 
                    src="assets/svg-cards/{{currentCard}}.svg" 
                    alt="aufgedeckte Karte"
                />
            </div>
        </div>
    </div>
</div>

<app-game-info
  [card]="currentCard"
  [currentPlayerName]="game.players[game.currentPlayerIndex]?.name ?? null"
  class="pin-bottom">
</app-game-info>