.game-container {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/background.jpg');
    background-size: cover;
    background-position: center;
}

.card-stack {
    position: relative;
    width: 0px;
    height: 300px;
    
    img {
        position: absolute;
        width: 200px;
        border-radius: 7px;
    }
}

.pick-card {
    animation: pick-card-animation 2s ease-in-out;
    z-index: 100;
}

@keyframes pick-card-animation {
    15% {
        transform: scale(1.1) translateX(10px) translateY(-15px) rotate(2deg);
    }
    
    50% {
        transform: scale(1.3) translateX(150px) translateY(-120px) rotate(5deg);
    }
    
    85% {
        transform: scale(1.0) translateX(350px) translateY(-180px) rotate(-8deg);
    }
    
    100% {
        transform: translateX(400px) translateY(-200px) rotate(-10deg);
    }
}

.played-card {
    right: 100px;
    bottom: -200px;
    transform: translateX(400px) translateY(-200px) rotate(-5deg);
}

.pin-bottom {
    position: absolute;
    right: 100px;
    left: 100px;
    bottom: 32px;
}

.player-container {
    background-color: rgba(128, 128, 128, 0.384);
    padding: 30px 0px 30px 30px;
    position: absolute;
    right: 0px;
    top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
}

.add-player-btn {
    position: absolute;
    right: 0px;
    bottom: -70px;
    border-radius: 50px 0px 0px 50px;
    background-color: #4CAF50 !important;
    color: white !important;
    min-width: 200px;
    
    &:hover {
        background-color: #45a049 !important;
    }
}