.game-container {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/background.jpg');
    background-size: cover;
    background-position: center;
}

.card-stack {
    position: relative;
    width: 300px;
    height: 300px;
    
    img {
        position: absolute;
        width: 200px;
        border-radius: 7px;
    }
}

.pick-card {
    animation: pick-card-animation 2s ease-in-out;
    transform: scale(0.9) translateX(400px) translateY(-350px) rotate(-10deg);
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1) translateY(0);
    }
    50% {
        transform: scale(1.3) translateX(200px) translateY(-100px);
    }
    100% {
        transform: scale(0.9) translateX(400px) translateY(-350px) rotate(-10deg);
    }
}

.played-card {
    right: 35px;
    bottom: 14px;
    transform: scale(0.9) translateX(400px) translateY(-350px) rotate(-10deg);
}