<div class="player-container">
    <app-player *ngFor="let player of game.players; let i = index;"
        class="player-position hide-mobile" 
        [playerActiv]="i == game.currentPlayerIndex"
        [name]="player.name"
        [avatar]="player.avatar">
    </app-player>
    <app-player-mobile *ngFor="let player of game.players; let i = index;"
        class="player-position-mobile hide-desktop" 
        [playerActiv]="i == game.currentPlayerIndex"
        [name]="player.name"
        [avatar]="player.avatar">
    </app-player-mobile>
    <button mat-fab extended (click)="openDialog()" class="add-player-btn">
        <mat-icon >add</mat-icon>
        <span class="hide-mobile">Spieler hinzufügen</span>
    </button>
</div>

<div class="game-container">
    <div class="card-stack">
        <img *ngFor="let card of getVisibleStackCards(); let i = index;" 
            [ngStyle]="{'right.px': i * 5, 'bottom.px': i * 2}"  
            src="assets/svg-cards/cover1.jpg" 
            alt="card-back" 
        />
        <img *ngIf="game.deck.length > 0" 
            (click)="takeCard()" 
            [ngStyle]="{'right.px': getVisibleStackCards().length * 5, 'bottom.px': getVisibleStackCards().length * 2}"  
            src="assets/svg-cards/cover1.jpg" 
            alt="card-back" 
        />
        <img *ngIf="game.playedCards.length > 0" 
            class="played-card"
            [src]="'assets/svg-cards/' + game.playedCards[game.playedCards.length - 1] + '.svg'" 
            alt="aufgedeckte Karte"/>
        
        <div *ngIf="game.pickCardAnimation" 
            class="pick-card-flip-container">
            <div class="pick-card-flip-inner">
                <img class="pick-card-back" 
                    src="assets/svg-cards/cover1.jpg" 
                    alt="card-back"
                />
                <img class="pick-card-front" 
                    src="assets/svg-cards/{{game.currentCard}}.svg" 
                    alt="aufgedeckte Karte"
                />
            </div>
        </div>
    </div>
</div>

<app-game-info
  [card]="game.currentCard"
  [currentPlayerName]="game.players[game.currentPlayerIndex]?.name ?? null"
  class="pin-bottom">
</app-game-info>