.game-container {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/background.jpg');
    background-size: cover;
    background-position: center;
}

.card-stack {
    position: relative;
    width: 0px;
    height: 300px;
    
    img {
        position: absolute;
        width: 200px;
        border-radius: 7px;
    }
}

.pick-card-flip-container {
    position: absolute;
    width: 200px;
    height: 280px;
    perspective: 1000px;
    z-index: 100;
}

.pick-card-flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: pick-card-animation-3d 1.2s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.pick-card-back,
.pick-card-front {
    position: absolute;
    width: 200px;
    height: 280px;
    backface-visibility: hidden;
    border-radius: 7px;
}

.pick-card-back {
    transform: rotateY(0deg);
}

.pick-card-front {
    transform: rotateY(180deg);
}

@keyframes pick-card-animation-3d {
    0% {
        transform: scale(1) translateX(0) translateY(0) rotateY(0deg) rotate(0deg);
    }
    15% {
        transform: scale(1.1) translateX(10px) translateY(-15px) rotateY(0deg) rotate(2deg);
    }
    40% {
        transform: scale(1.3) translateX(100px) translateY(-90px) rotateY(90deg) rotate(3deg);
    }
    50% {
        transform: scale(1.3) translateX(150px) translateY(-120px) rotateY(180deg) rotate(5deg);
    }
    85% {
        transform: scale(1.0) translateX(350px) translateY(-180px) rotateY(180deg) rotate(-8deg);
    }
    100% {
        transform: translateX(400px) translateY(-200px) rotateY(180deg) rotate(-5deg);
    }
}

.played-card {
    right: 100px;
    bottom: -200px;
    transform: scale(1) translateX(400px) translateY(-200px) rotate(-5deg);
}

.pin-bottom {
    position: absolute;
    right: 100px;
    left: 100px;
    bottom: 32px;
}

.player-container {
    background-color: rgba(128, 128, 128, 0.384);
    padding: 30px 0px 30px 30px;
    position: absolute;
    right: 0px;
    top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
}

.add-player-btn {
    position: absolute;
    right: 0px;
    bottom: -70px;
    border-radius: 50px 0px 0px 50px;
    background-color: #4CAF50 !important;
    color: white !important;
    min-width: 200px;
    
    &:hover {
        background-color: #45a049 !important;
    }
}