<div class="startscreen-container">
    <div class="startscreen-content">
        <img src="assets/ring-of-fire.png" alt="startlogo" />
        <div class="start-label-box" (click)="newGame()">
            <img src="assets/ribbon-banner-red.png" alt="startbanner" class="logo-image" />
            <svg class="curved-text-svg" viewBox="0 0 200 100">
                <defs>
                    <path id="curve" d="M 10,80 Q 100,50 200,80" fill="transparent"/>
                </defs>
                <text>
                    <textPath href="#curve" startOffset="50%" text-anchor="middle">
                        Spiel starten
                    </textPath>
                </text>
            </svg>
        </div>
    </div>
</div>