mat-card {
  max-width: 800px;
  padding: 8px;
  margin: 0 auto;
}

.action-hint {
  margin: 0;
  padding: 8px 16px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
  min-height: 24px;
}

mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

mat-card-content {
  font-size: 1rem;
  line-height: 1.5rem;
}

//large desktops
@media (max-width: 1400px){
  
}

//desktops
@media (max-width: 1200px){
}

//tablets
@media (max-width: 768px){
mat-card {
  min-height: 120px;
}
}

//mobiles
@media (max-width: 640px){
}